# Alles ignorieren
*

# Nur diese explizit erlauben
!src/
!src/**
!webflasher/
!webflasher/**
!.github/
!.github/**
!images/
!images/**
!platformio.ini
!partitions.csv
!copy_release.py
!manifest.json
!README.md
!BUILDING.md
!REFACTOR_PLAN.md
!index.html
!.gitignore
